@font-face {
    src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
    src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
    src: url("../../fonts/Roboto-Slab.ttf");
}
@font-face {
    src: url("../../fonts/batch-icons-webfont.ttf");
}
/* @font-face {
    src: url("../../fonts/Docker Two.ttf");
} */
@font-face {
    src: url("../../fonts/Font-Awesome-5-Free-Solid-900.ttf");
}
@font-face {
    src: url("../../fonts/Font-Awesome-5-Free-Regular-400.ttf");
}
@font-face {
    src: url("../../fonts/webhostinghub-glyphs.ttf");
}
@font-face {
    src: url("../../fonts/foundation-icons.ttf");
}
@font-face {
    src: url("../../fonts/ionicons.ttf");
}
@font-face {
    src: url("../../fonts/themify.ttf");
}
@font-face {
    src: url("../../fonts/batch-icons-webfont.ttf");
}
@font-face {
    src: url("../../fonts/MaterialIcons-Regular.ttf");
}

.font_lightGrey{
  -fx-text-fill:  #F4F4F4;
}
.font_mediumBlue{
  -fx-text-fill:  #233D4D;
}
.font_mediumBlue2{
  -fx-text-fill:  #436271;
}
.font_mediumBlue3{
  -fx-text-fill:  #003641;
}
.font_darckBlue{
  -fx-text-fill:   #01111D;
}
.font_softRed{
  -fx-text-fill:  #DD614A;
}
.font_softRed2{
  -fx-text-fill:  #FF8964;
}
.font_contrastedRed{
  -fx-text-fill:  #ff3d00;
}
.font_white{
  -fx-text-fill:  #FFFFFF  ;
}
.font_mediumGreen{
  -fx-text-fill:  #3B6064;
}
.font_yellowgreen{
  -fx-text-fill:  yellowgreen;
}
.font_transparent{
  -fx-text-fill:  transparent;
}
.font_neon{
  -fx-text-fill:  #1ac7f5;
}
.font_mediumGrey{
    -fx-text-fill:   #697886;
}


.font_Size25{
        -fx-font-family: "Roboto Light";
        -fx-font-size: 25;
}


.font_Size23{
        -fx-font-family: "Roboto Light";
        -fx-font-size: 23;
}
.font_Size20{
        -fx-font-family: "Roboto Light";
        -fx-font-size: 20;
}
.font_Size18{
        -fx-font-family: "Roboto Light";
        -fx-font-size: 18;
}
