 .TABLE_BFx,#TABLE_BFx:focused,.TABLE_BFx:armed,.TABLE_BFx:selected{
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian ,#555555 , 2, 0, 0.5, 0.5);
}
.TABLE_BFx .column-resize-line{
    -fx-pref-width:0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.TABLE_BFx .column-overlay {/*при перетягивании колонки появляется оверлэй*/
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.TABLE_BFx .placeholder {/*когда таблица пуста рамка*/
-fx-border-color: transparent;
}
.TABLE_BFx .column-header-background {/*ЭТО самая нижняя подложка заголовка*/
    -fx-background-color:transparent;
    -fx-pref-height:45;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
 .TABLE_BFx.cell,
 .TABLE_BFx .indexed-cell,
 .TABLE_BFx .table-cell,
 .TABLE_BFx .text-field-table-cell,
 .TABLE_BFx .table-column{
	   -fx-padding:  0, 10, 0, 0;
 }
.TABLE_BFx  .table-column {  -fx-pref-height:25;}
/* #.TABLE_BFx .nested-column-header, */
.TABLE_BFx .column-header{/*ЗАГОЛОВОК КОЛОНКИ*/
    /* -fx-background-color:#8fbcc4; */
    -fx-background-color:transparent;
    -fx-pref-height:45;
    -fx-border-radius:0;
    -fx-border-width: 0 1 1 0;
    -fx-border-style: solid;
    -fx-border-color:#DFDFDF;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0 0 10 0;
}
.TABLE_BFx .filler {/*ЭТО children самой нижней подложки заголовка*/
    -fx-background-color:derive(#d7e1e3,40%);
}
.TABLE_BFx .column-drag-header {}
.TABLE_BFx .nested-column-header .label {
    -fx-text-fill:#2f4a6f;
	-fx-font-family: "Roboto Light";
    -fx-font-size: 20;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
    -fx-border-insets:0 0 0 0;
}
.TABLE_BFx .virtual-flow,
.TABLE_BFx .clipped-container{
    -fx-padding: 20 20 50 20;
}
.TABLE_BFx .table-row-cell{}
.TABLE_BFx .table-row-cell:selected,.table-row-cell:focused{}
.TABLE_BFx .table-row-cell:odd{/* focused    filled    odd    selected*/}
.TABLE_BFx .cell:focused:selected > .choice-box > .label {}
.TABLE_BFx .text{}


.TABLE_BFx .sheet{
  -fx-padding: 0 20 0 20;
}


.TABLE_BFx .table-cell{
      -fx-text-fill:#074f5d;
      -fx-font-family: "Roboto Light";
      -fx-font-size: 17;
  }

  .TABLE_BFx .table-row-cell,
  .TABLE_BFx .cell,
  .TABLE_BFx .table-cell,
  .TABLE_BFx .table-column ,
  .TABLE_BFx .text-field{
  -fx-padding:  0, 20, 0, 0;
    -fx-insets: 0, 20, 0, 0;
  }
.TABLE_BFx .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell{

          -fx-border-color: red;
          -fx-border-width: 0 1 0 0;
  }
/* Selected rows */
.TABLE_BFx .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.TABLE_BFx .tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.TABLE_BFx .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.TABLE_BFx .tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.TABLE_BFx .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.TABLE_BFx .tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-radius: 0;
    -fx-border-radius:3;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-border-width: 1;
    -fx-border-insets:0;
}
/* Selected when control is not focused */
.TABLE_BFx .list-cell:filled:selected,
.TABLE_BFx .tree-cell:filled:selected,
.TABLE_BFx .table-row-cell:filled:selected,
.TABLE_BFx .tree-table-row-cell:filled:selected,
.TABLE_BFx .table-row-cell:filled > .table-cell:selected,
.TABLE_BFx .tree-table-row-cell:filled > .tree-table-cell:selected {
     -fx-background-radius: 0;
    -fx-border-radius:3;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-border-width: 1;
    -fx-border-insets:0;
    -fx-table-cell-border-color:  #dae0d1;
    -fx-background:  #dae0d1;
    -fx-padding: 0;
}

/* Selected when control is not focused                date-picker-display-node */
.TABLE_BFx .DATEPICKER_BFx .date-picker-display-node  {
     -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 0;
    -fx-border-width: 0.1;
    -fx-border-insets:0;
    -fx-table-cell-border-color:  #f4f4f4;
    -fx-background:  #ffffff;
    -fx-padding: 0;
}


.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled > .check-box-table-cell:selected > .check-box > .box,
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box,
.tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected > .check-box-table-cell > .check-box > .box {
    -fx-background-color: red;
  }

/* focused cell (keyboard navigation) */
.TABLE_BFx .text-field:focused, .TABLE_BFx .text:focused,
.TABLE_BFx .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused,
.TABLE_BFx .tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused,
.TABLE_BFx .table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.TABLE_BFx .tree-table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:focused,
.TABLE_BFx .table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell:focused,
.TABLE_BFx .tree-table-view:focused:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell:focused {
    -fx-table-cell-border-color: #FFEACF;
    -fx-background-radius: 1;
    -fx-border-radius:3;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-border-width: 1;
    -fx-border-color: #C3B19E;
    -fx-border-insets:0;
    -fx-padding: 3 5 3 5;
    -fx-background-color:white;
}
/*selected  */
.TABLE_BFx .text-field, .TABLE_BFx .text,
.TABLE_BFx .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell,
.TABLE_BFx .tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell,
.TABLE_BFx .table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell,
.TABLE_BFx .tree-table-view:row-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell,
.TABLE_BFx .table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell,
.TABLE_BFx .tree-table-view:cell-selection > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell > .tree-table-cell {
    -fx-table-cell-border-color: #FFEACF;
    -fx-background-radius: 1;
    -fx-border-radius:3;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-border-width: 1;
    -fx-border-color: #C3B19E;
    -fx-border-insets:0;
    -fx-padding: 3 5 3 5;
    -fx-background-color:white;

}
/* Selected rows */
.TABLE_BFx .text-input:filled:selected,
.TABLE_BFx .list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.TABLE_BFx .tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:filled:selected,
.TABLE_BFx .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected,
.TABLE_BFx .tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected,
.TABLE_BFx .table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell .table-cell:selected,
.TABLE_BFx .tree-table-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell .tree-table-cell:selected {
    -fx-background-radius: 0;
    -fx-border-radius:0;
    -fx-background-insets: 1, 1, 1, 1;
    -fx-padding: 3 5 3 5;


}
#PLACEHOLDER{
  -fx-text-fill: #acb9bb;
  -fx-color: #acb9bb;
  -fx-fill:#acb9bb;
  -fx-text-fill:#acb9bb;
}
.TABLE_BFx .label{
   -fx-text-alignment: center;
}

.DateCol{
    -fx-alignment: baseline-right;
}













.table-row-cell:selected {
   /* -fx-background-color: #afecec; */
}
.table-row-cell:selected .text {
       /* -fx-fill: #63707d ; */

}
















#rightColumnContentElighment  {
  -fx-alignment: CENTER-RIGHT;
}
.rightColumnContentElighment  {
  -fx-alignment: CENTER-RIGHT;
}
.leftColumnContentElighment  {
      -fx-alignment: center-left;
    }
.column_with_button_BFx  {
  -fx-alignment: center;
}











      .wrappedHeaderColumn_font_size_16 .column-header{
        /*ЗАГОЛОВОК КОЛОНКИ с классом wrappedHeaderColumn который позволяет деляать перенос строки с помощью \n в тексте строки*/
           -fx-background-color:#f7f7c2;
           -fx-background-color:transparent;
           -fx-pref-height:45;
           -fx-border-radius:0;
           -fx-border-width: 0 1 1 0;
           -fx-border-style: solid;;
           -fx-border-color:#DFDFDF;
           -fx-background-radius: 0;
           -fx-background-insets: 0;
           -fx-padding: 0 0 10 0;
       }

      .wrappedHeaderColumn_font_size_16 .nested-column-header .label {
          -fx-text-fill:#2f4a6f;
          /* -fx-text-fill:#8f9bac; */
          -fx-font-family: "Roboto Light";
          -fx-font-size: 16;
          -fx-background-insets: 0;
          -fx-padding: 0 0 0 0;
          -fx-border-insets:0 0 0 0;
      }
          .wrappedHeaderColumn_font_size_15 .column-header{
            /*ЗАГОЛОВОК КОЛОНКИ с классом wrappedHeaderColumn который позволяет деляать перенос строки с помощью \n в тексте строки*/
               -fx-background-color:#f7f7c2;
               -fx-background-color:transparent;
               -fx-pref-height:45;
               -fx-border-radius:0;
               -fx-border-width: 0 1 1 0;
               -fx-border-style: solid;;
               -fx-border-color:#DFDFDF;
               -fx-background-radius: 0;
               -fx-background-insets: 0;
               -fx-padding: 0 0 10 0;
           }

          .wrappedHeaderColumn_font_size_15 .nested-column-header .label {
              -fx-text-fill:#2f4a6f;
              /* -fx-text-fill:#8f9bac; */
              -fx-font-family: "Roboto Light";
              -fx-font-size: 15;
              -fx-background-insets: 0;
              -fx-padding: 0 0 0 0;
              -fx-border-insets:0 0 0 0;
          }
          .wrappedHeaderColumn_font_size_14 .column-header{
            /*ЗАГОЛОВОК КОЛОНКИ с классом wrappedHeaderColumn который позволяет деляать перенос строки с помощью \n в тексте строки*/
               -fx-background-color:#f7f7c2;
               -fx-background-color:transparent;
               -fx-pref-height:45;
               -fx-border-radius:0;
               -fx-border-width: 0 1 1 0;
               -fx-border-style: solid;;
               -fx-border-color:#DFDFDF;
               -fx-background-radius: 0;
               -fx-background-insets: 0;
               -fx-padding: 0 0 10 0;
           }

          .wrappedHeaderColumn_font_size_14 .nested-column-header .label {
              -fx-text-fill:#2f4a6f;
              /* -fx-text-fill:#8f9bac; */
              -fx-font-family: "Roboto Light";
              -fx-font-size: 14;
              -fx-background-insets: 0;
              -fx-padding: 0 0 0 0;
              -fx-border-insets:0 0 0 0;
          }
  .wrappedHeaderColumn_font_size_12 .column-header{
      /*ЗАГОЛОВОК КОЛОНКИ с классом wrappedHeaderColumn который позволяет деляать перенос строки с помощью \n в тексте строки*/
        -fx-background-color:#f7f7c2;
        -fx-background-color:transparent;
        -fx-pref-height:45;
        -fx-border-radius:0;
        -fx-border-width: 0 1 1 0;
        -fx-border-style: solid;;
        -fx-border-color:#DFDFDF;
        -fx-background-radius: 0;
        -fx-background-insets: 0;
        -fx-padding: 0 0 10 0;
    }

  .wrappedHeaderColumn_font_size_12 .nested-column-header .label {
     -fx-text-fill:#2f4a6f;
     /* -fx-text-fill:#8f9bac; */
    -fx-font-family: "Roboto Light";
     -fx-font-size: 12;
     -fx-background-insets: 0;
     -fx-padding: 0 0 0 0;
     -fx-border-insets:0 0 0 0;
  }










  .table_font_size_10 .table-cell{
        -fx-text-fill:#074f5d;
        -fx-font-family: "Roboto Light";
        -fx-font-size: 10;
    }

    .table_font_size_11 .table-cell{
            -fx-text-fill:#074f5d;
            -fx-font-family: "Roboto Light";
            -fx-font-size: 11;
        }

        .table_font_size_12 .table-cell{
                -fx-text-fill:#074f5d;
                -fx-font-family: "Roboto Light";
                -fx-font-size: 12;
            }

      .table_font_size_13 .table-cell{
                -fx-text-fill:#074f5d;
                -fx-font-family: "Roboto Light";
                -fx-font-size: 13;
            }
            .table_font_size_14 .table-cell{
                      -fx-text-fill:#074f5d;
                      -fx-font-family: "Roboto Light";
                      -fx-font-size: 14;
                  }
