.TEXTFIELD_BFx .text{
    -fx-text-fill:#2f4a6f;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 14;
    -fx-font-size: 55;
}
.TEXTFIELD_BFx{
      -fx-border-width: 0.3  0.3  0.3  0.3 ;
      -fx-border-style: solid;
      -fx-border-color:#494c50;

      fx-background-color:#ffffff;
      -fx-background-insets:0;
      -fx-background-radius:  0;
      -fx-border-radius:  0;

      -fx-text-fill:#2f4a6f;
      -fx-font-family: "Roboto Light";
      -fx-font-size: 14;
}
